.formulario-cita {
    display: flex;  
    height: 100vh;
    .formularioContainers {    
      width: 85%;
      .formularioContainer{ 
        display: flex;
        height: 90%;
        justify-content: center;            
        background-color: #F9F9F9; //Need to Fix 
        .formulario{          
          margin-top: 4vh;
          width: 85%; 
          align-items: center;     
          background-color: white;
          display: flex;
          flex-direction: column; 
          border-radius: 1vw;  
          margin-bottom: 4vh;
          .containerA{
            display: flex;
            flex-direction: column;
            padding: 2vw;
            gap: 1vw;
            
          }
          .datePickerCitas{
            display: flex;
            font-size: 1.2vw;
            text-align: center;
          }
        }    
      }    
    }
}
    
    
    
    