.widget {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  transition: all 0.3s;
  background-color: white;

  .left{
    display: flex;
    .lefts{
      display: flex;      
      flex-direction: column;
    }
    .title {
      font-weight: bold;
      font-size: 38px;
      color: black;
    }
    .icon{
      padding: 5px;
      align-items: center;
      display: flex;

      font-size: 70px;
    }

    .counter {
      font-size: 38px;
      font-weight: 300;
    }
  }
  .right {   
    display: flex;
    align-items: flex-end;
    .link {
      width: 100%;
      font-size: 26px;
      border-bottom: 1px solid gray;
      padding-right: 15px;
    }

    .icon {
      width: auto;
      font-size: 30px;
      border-radius: 5px;
    }
  }
}

.widget:hover{
  box-shadow: 2px 4px 10px 5px rgba(201, 201, 201, 0.47);
  transform: scale(1.03);
}


