.home {
  display: flex;  

  .homeContainer {    
    width: 85%;
    .containers{
      
      background-color: #F9F9F9; //Need to Fix
      height: 90%;
      display: flex;
      .containerL{
        width: 50%;
        padding: 30px;
        height: 100%; 
        .containerLfirst{   
          display: flex;
          padding: 1.1vw;
          box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
          border-radius: 1vw;
          background-color: white;
          height: 48%;
          flex-direction: column;
          display: flex;
          align-items: center;          
          overflow-y: auto; // Agregar desplazamiento vertical  
          margin-bottom: 4%;
        }
        .containerLsecond{   
          display: flex;
          padding: 1.1vw;
          box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
          border-radius: 1vw;
          background-color: white;
          height: 48%;
          flex-direction: column;
          display: flex;
          align-items: center;          
          overflow-y: auto; // Agregar desplazamiento vertical  
        }
      }
      .containerR{  
        width: 50%;
        padding: 30px;
        height: 100%; 
        .containerRfirst{                 
          display: flex;
          padding: 1.1vw;
          box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
          border-radius: 1vw;
          background-color: white;
          height: 100%;
          flex-direction: column;
          display: flex;
          align-items: center;
          
          overflow-y: auto; // Agregar desplazamiento vertical
          .containerRfirstinside{ 
            width: 85%;           
            text-align: center;
            .consultorio {
              border-radius: 1vw;
              border: 0.2vw solid #ccc; // Define el borde y su grosor
              margin-bottom: 2vw; 
              h3{
                font-size: 1.1vw;
              }
              span{
                font-size: 1vw;
              }
              p{
                font-size: 1vw;
              }
              .actions{
                align-items: center;
                display: flex; /* Establece el contenedor como flexbox */
                justify-content: flex-end; /* Alinea los elementos al final del eje principal (horizontal) */
                border-top: 0.2vw solid #ccc;
                padding: 1vw;
                button{                    
                  font-weight: 600;
                  font-size:0.9vw;
                  padding: 0.5vw;
                }
                p{
                  font-size: 1vw;
                }
              }
            }
          }            
        }
      }
    }    
  }
}

.home .homeContainer .listContainer:hover{
  box-shadow: 2px 4px 10px 7px rgba(201, 201, 201, 0.47);
}



