.navbar {
  height: 10%;
  border-bottom: 1px solid #ccc;
  background-color: white;
  display: flex;

  .wrapper {
    width: 100%;
    display: flex;
    align-items: center; /* Centra verticalmente los elementos dentro de .wrapper */

    .center-text {
      justify-content: center;
      text-align: center;
      margin-left: auto;
      margin-right: 30px;
      font-size: 22px;
    }
    .nombre{
      font-weight: bold;
    }

    .items {
      display: flex;
      align-items: center;
      margin-right: 20px;

      .item {
        display: flex;
        position: relative;
        transition: all 0.3s;
        padding: 5px;

        .avatar {
          width: 40px;
          height: 50px;
        }
      }
    }
  }
}
